.styled-routing-matrix {
	background-color: #eee;
	border-collapse: collapse;
}

.styled-row:nth-child(even) {
	background-color: #ddd;
}

.styled-row {
	height: 30px;
}

.styled-row-header-cell {
	text-align: right;
	border: 1px solid black;
	border-left: none;
	padding: 0 0.5em;
}

.styled-column-header-cell {
	border: 1px solid black;
	border-top: none;
	padding: 0.5em 0;
}

.styled-column-header-cell > * {
	transform: rotate(180deg);
	writing-mode: vertical-rl;
	white-space: nowrap;
	margin: 0 auto;
}

.styled-cell {
	border: 1px solid black;
	width: 30px;
	padding: 0;
	box-sizing: border-box;
}

.styled-header {
	font-family: sans-serif;
	font-weight: normal;
}

.styled-cross-axis-cell {
	background-color: white;
}


